.wp-block-navigation .wp-block-button {
  padding-left: calc(var(--wp--preset--spacing--small) * 0.5);
}

.wp-block-outermost-mega-menu .wp-block-outermost-mega-menu__toggle:hover,
:root :where(.wp-block-navigation a:where(:not(.wp-element-button)):hover):hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

:root :where(.wp-block-navigation .current-menu-item a:where(:not(.wp-element-button))) {
  text-decoration: underline !important;
  text-underline-offset: 6px !important;
}

.wp-block-outermost-mega-menu__menu-container.menu-width-content {
  max-width: 792px;
  width: 792px;
}

.wp-block-outermost-mega-menu__menu-container {
  top: 48px;
  box-shadow: 0px 32px 64px -15px rgba(224, 216, 208, 0.65);
  z-index: 999999;
}
.wp-block-outermost-mega-menu__menu-container::after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 16px;
  margin-left: -16px;
}
.wp-block-outermost-mega-menu__menu-container .wp-block-group.is-style-clickable-card:hover {
  box-shadow: none;
  transform: translateY(0);
  background-color: var(--wp--preset--color--background-2) !important;
}

.wp-block-outermost-mega-menu .wp-block-outermost-mega-menu__toggle .wp-block-outermost-mega-menu__toggle-icon {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}
.wp-block-outermost-mega-menu .wp-block-outermost-mega-menu__toggle .wp-block-outermost-mega-menu__toggle-icon svg {
  transform: rotate(0deg);
}

.wp-block-outermost-mega-menu__menu-container .menu-container__close-button {
  display: none;
}

.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open {
  background-color: var(--wp--preset--color--tertiary);
  padding: 10px;
  border-radius: 8px;
}

body .wp-block-navigation__responsive-container-open:not(.always-shown) {
  display: block !important;
}

body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
  display: none !important;
}

.tablet-nav-newsletter-button,
.mobile-free-resources {
  display: none !important;
}

.mega-menu-mobile-title {
  display: none !important;
}

@media (min-width: 1280px) {
  body .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }
  body .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block !important;
  }
}
@media screen and (max-width: 1280px) {
  .mega-menu-mobile-title {
    display: block !important;
  }
  .nav-newsletter-button {
    display: none !important;
  }
  .tablet-nav-newsletter-button {
    display: inline-flex !important;
  }
  .header-nav-wrapper {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
  .mega-menu-col-title {
    font-size: 16px !important;
    color: var(--wp--preset--color--foreground-2) !important;
  }
  .wp-block-outermost-mega-menu button {
    font-size: 18px !important;
    font-weight: 500 !important;
  }
  hr {
    margin-top: 4px !important;
  }
  .mega-menu-links {
    margin-top: 4px !important;
  }
  .wp-block-outermost-mega-menu__menu-container::after {
    display: none;
  }
  .wp-block-outermost-mega-menu__menu-container .menu-container__close-button {
    top: 14px;
    background-color: transparent !important;
    display: flex !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    justify-content: flex-start;
    opacity: 1 !important;
  }
  .wp-block-outermost-mega-menu__menu-container .menu-container__close-button svg {
    transform: scale(1.25);
  }
  .mobile-free-resources {
    display: block !important;
  }
  .html.has-modal-open .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content,
  html.has-modal-open .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container {
    align-items: center;
    gap: var(--wp--preset--spacing--medium);
    width: 100%;
  }
  .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: var(--wp--preset--color--background-2) !important;
    max-width: 600px !important;
    right: 0 !important;
    left: auto !important;
    width: 100%;
    box-shadow: 0px 32px 64px -15px rgba(224, 216, 208, 0.95);
  }
  html.has-modal-open .wp-block-navigation__responsive-container li a {
    color: var(--wp--preset--color--foreground-1) !important;
  }
  html.has-modal-open .wp-block-navigation__responsive-container li a,
  html.has-modal-open .wp-block-navigation__responsive-container .wp-element-button {
    font-size: 18px;
    font-weight: 500;
  }
  html.has-modal-open .wp-block-navigation__responsive-container li a:hover {
    color: var(--wp--preset--color--foreground-1) !important;
  }
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button {
    margin-top: var(--wp--preset--spacing--medium);
  }
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button .wp-element-button {
    font-size: 16px;
    background-color: var(--wp--preset--color--primary);
  }
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button .wp-element-button:hover {
    background-color: var(--wp--preset--color--foreground-1);
    color: var(--wp--preset--color--background-1);
  }
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button,
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button .wp-block-button,
  html.has-modal-open .wp-block-navigation__responsive-container .wp-block-buttons.nav-newsletter-button .wp-element-button {
    width: 100%;
  }
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content {
    left: 0 !important;
    top: 0 !important;
    position: fixed;
    width: 95% !important;
    margin: 2.5% !important;
    max-width: 800px;
  }
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content .has-medium-font-size,
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content .has-medium-font-size a {
    font-size: 16px !important;
  }
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content img {
    max-width: 20px !important;
  }
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content .is-style-clickable-card {
    margin-top: 4px;
    padding: 6px !important;
  }
  .wp-block-navigation .wp-block-outermost-mega-menu__menu-container.menu-justified-center.menu-width-content > .wp-block-group {
    padding: 20px 28px !important;
  }
}
@media screen and (max-width: 580px) {
  .nav-newsletter-button {
    display: block !important;
  }
  .tablet-nav-newsletter-button {
    display: none !important;
  }
}
@media screen and (max-width: 380px) {
  .wp-block-site-logo {
    max-width: 70%;
  }
}
html.has-modal-open main {
  opacity: 0.5 !important;
  transition: all ease-in-out 0.3s;
}
