/*
Theme Name: Ali Abdaal
Theme URI: https://rockbase.co
Author: Rockbase LLC
Author URI: https://rockbase.co
Description: A Ali Abdaal theme.
Requires at least: 6.6
Tested up to: 6.6.0
Requires PHP: 7.3
Version: 1.0.5
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: rckbs
Text Domain: ali-abdaal
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, translation-ready, block-styles, template-editing, wide-blocks, global-styles
*/
